body {
    margin: 0;
}

.pokemon_headline {
    /* width: 100%; */
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pokemon_info {

}